/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
  }
  
  .highlight-text {
    background-color: #e5e4ff;
    padding: 0 5px;
  }
  
 
  
  /* Header Styles */
  header .btn-primary {
    background-color: #6f42c1;
    border-color: #6f42c1;
  }
  
  header .btn-outline-primary {
    color: #6f42c1;
    border-color: #6f42c1;
  }
  
  header .btn-outline-primary:hover {
    background-color: #e5e4ff;
    color: #6f42c1;
  }
  
  header .btn-primary:hover {
    background-color: #582c91;
  }
  
  /* Main Content Styles */
  .bg-purple {
    background-color: #6f42c1;
    text-align: right;
    padding-right: 9%;
    font-size: 70px;
  }
   
  h1{
    font-size: 70px;
  }

  .sobre{
    padding-left: 9%;
    padding-right: 9%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .sobre-text{
    font-size: 30px;
  }
  .inicio{
    padding-left: 9%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .mt-5{
    
    padding-bottom: 5%;
  }

  #logo{
    margin-top: 10px;
    height: 18px;
  }
  
  a.btn-dark {
    background-color: #582c91 !important;
    border-color: #582c91 !important;
  }
  
  a.btn-outline-dark {
    color: #582c91 !important;
    border-color: #582c91 !important;
  }
  
  a.btn-outline-dark:hover {
    background-color: #e5e4ff !important;
  }
  
 